body {
	padding:10px;
}

#container{ min-height: 670px;}
#container .action-top {margin-top: -15px;}
.list-group {line-height:30px}
.list-group-item .pull-right.button-group {margin-top: -15px;}


.form-data {
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-data .form-data-heading,
.form-data .checkbox {
  margin-bottom: 10px;
}
.form-data .checkbox {
  font-weight: normal;
}
.form-data .form-control {
  position: relative;
  font-size: 16px;
  /*height: 20px;*/
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-data .form-control:focus {
  z-index: 2;
}
.form-data input[type="text"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.form-data input[type="password"] {
  margin-bottom: 0px;
  border-radius: 5px;
}
.input-group {
    margin-bottom: 15px;
}
.form-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.form-footer .left-section a{
	font-weight:bold;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}

/* button circle */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 12px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 19px 23px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/*
.show-error {
  padding:10px;
}*/

.edit-book-action {
  margin-right: 5px;
}

#form-add-book button{
  margin-right:10px;
}

footer {
  clear: both;
}